# Ambiente virtual
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Docker
*.pid
*.sock
docker-compose.override.yml

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# IDEs
.idea/
venv/
